body {
font-family: sans-serif;
}

.ui-datepicker{
  z-index: 1000 !important;
}


#from_to_datepicker label{
  display: block;
}

#from_to_datepicker div{
  margin-top: 10px;
}

#data_form_container{
  color: white;
  padding: 15px;
  box-shadow: 1px 1px 10px 3px grey;
  /*background: linear-gradient( 125deg, rgb(118, 111, 242), rgb(165, 225, 183) );;*/
  background-color: rgb(113, 113, 191);
}

#apply_button{
  color: white;
  border: 1px solid white;
}


#data_form_container select{
  color: black;
  padding: 5px;
}


#from_date{
  color: black;
}

#to_date{
  color: black;
}


#map_legend_top{
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-around;
  text-decoration-style: none;

}


.stats_box{
  /*box-shadow: 1px 1px 1px 1px black;*/
  width: 23%;
  height: 100%;
  border: 1px solid rgb(72, 198, 114);
  padding: 10px;
  color: rgb(72, 198, 114);
}


.stat_number{
  font-size: 24px;
  font-weight: bold;
}

.stat_desc{
  font-size: 13px;
  margin-bottom: 0;
}

#box_1{
  color: rgb(39, 62, 57);;
  border: 1px solid rgb(39, 62, 57);
}
#box_2{
  color: rgb(61, 130, 227);
  border: 1px solid rgb(61, 130, 227);
}

#box_3{
  
}
#box_4{
  color: rgb(188, 64, 91);
  border: 1px solid rgb(188, 64, 91);
}


#map_legend_left{
  border: 1px solid grey;
  height: 330px;
  margin-top: 15px;
}