{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script type="text/javascript" src="{% static 'js/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/themes/fusioncharts.theme.fint.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fusioncharts.charts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fusioncharts.charts.js' %}"></script>

</head>
<body>
    <!--
    Drill-down from map to chart using LinkedCharts. Click on California, Texas, or North Carolina states.
-->

<div id="chart-container">FusionCharts will render here</div>


<script type="text/javascript">
    var json_data = JSON.parse('{{ json_map | escapejs }}');
    FusionCharts.ready(function () {
    var wrCoverage = new FusionCharts(json_data);
    //Configure the second level chart's properties
    wrCoverage.configureLink({
        type: "mscombidy2d",
        overlayButton: {
            message: 'Back',
            fontColor: '880000',
            bgColor: 'FFEEEE',
            borderColor: '660000'
        }
    }, 0);
    wrCoverage.render();
});


</script>
</body>
</html>
